################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTT/bin
/TTT/obj

/.vs
/TicTacToeGame.3x3/obj
/TicTacToeGame.3x3/bin
/TicTacToeGame.4x4/obj
/TicTacToeGame.4x4/bin
/TTTControlLibrary/obj
/TTTControlLibrary/bin
